#homePageC{
  background-color: #1a1a1a;
}

#banner {
  background-image: url("/src/assets/images/banner1.jpg");
  background-blend-mode: multiply;
  opacity: 0.8;
  height: 90vh;
}

#banner h2 {
  font-family: "Merriweather", serif;
}

#buttonHome {
  background-color: #1a1a1a;
}

.homeImage{
  height: 20em;
}