.MenuButton {
  width: 100vh;
  text-align: center;
  padding: 1rem;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all ease 1s;
}

.MenuButton:hover {
  background-color: gold;
  color: darkgray;
}
